<link href="{{ url_for('recipes.static', filename='css/recipe-inline.css') }}" rel="stylesheet">
<script type="module" src="{{ url_for('recipes.static', filename='js/recipe-inline.js')}}"></script>

<div class="container-fluid mb-3" id="inlineFormsContainer">
  <div class="row align-items-center justify-content-center">
    <!-- BASE form for JS-->
    {% include "./partials/recipe-base-form.html" %}
    <!-- Forms -->
    <div class="col-5 border border-primary rounded" id="inline-forms">
      {% if recipes|length > 0 %}
        {% for recipe in recipes %}
          {% if recipe['index'] and recipe['index'] > 0 %}
            {% set index = recipe['index'] %}
          {% else %}
            {% set index=loop.index %}
          {% endif %}
            {% include "./partials/recipe-loop-form.html" %}
        {% endfor %}
      {% endif %}
    </div>
    <input type="hidden" name="recipesIndex" id="recipesIndex" value="{{ index }}">
    <div class="col-1">
      <button class="btn btn-success" id="addJsFormBtn" type="button"><i class="bi bi-plus-lg"></i></button>
    </div>
  </div>
</div>
<!-- Delete JS modal (dynamically altered for js forms removal) -->
<div class="modal fade" id="jsModal" tabindex="-1" aria-labelledby="jsFormModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h1 class="modal-title fs-5" id="jsFormModalLabel">
        <strong>
          <i class="bi bi-exclamation-triangle"></i> Irreversible action!
        </strong>
        </h1>
      </div>
      <div class="modal-body fs-6">
        <!-- JS text insertion -->
        <p class="text-start" id="js-modal-body-text"></p>
        <small class="fw-bold text-danger">
          This action cannot be undone.
        </small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger mt-1" id="delJsFormBtn"
          form-id="#formToDelete" data-bs-dismiss="modal">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Delete DB modal (dynamically altered for data base forms deletion) -->
<div class="modal fade" id="dbModal" tabindex="-1" aria-labelledby="dbFormModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h1 class="modal-title fs-5" id="dbFormModalLabel">
        <strong>
          <i class="bi bi-exclamation-triangle"></i> Irreversible action!
        </strong>
        </h1>
      </div>
      <div class="modal-body fs-6">
        <!-- JS text insertion -->
        <p class="text-start" id="db-modal-body-text"></p>
        <small class="fw-bold text-danger">
          This action cannot be undone.
        </small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger mt-1" id="delDbFormBtn" data-bs-dismiss="modal"
          form-id="" data-url="">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
