{% extends "layout.html" %}
{% from "partials/macros.html" import error %}

{% set endpoint = request.endpoint %}
{% if endpoint == 'transactions.buy' %}
  {% set action = 'Buy' %}
{% else %}
  {% set action = 'Sell' %}
{% endif %}

{% block title %}
  {{ action }}
{% endblock title %}

{% block main %}
  <link href="{{ url_for('products.static', filename='css/product-detail.css') }}" rel="stylesheet">
  <script type="module" src="{{ url_for('products.static', filename='js/product-detail.js')}}"></script>

  <h4 class="mb-3">{{ action }}</h4>
  
  <form action="{{ request.path }}" method="POST">
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="form-floating mb-3">
          <input autocomplete="off" autofocus class="form-control" id="product_name" name="product_name"
            placeholder="Product name" type="text" value="{{ form.get('product_name', '') }}">
          <label for="product_name">Product name</label>
          {{ error('product_name') }}
        </div>
        <div class="form-floating mb-3">
          <input autocomplete="off" class="form-control" id="amount" name="amount" placeholder="Amount"
            type="number" step="0.1" min="0" value="{{ form.get('amount', '') }}">
            <label for="amount">Amount</label>
          {{ error('amount') }}
        </div>
        <div class="form-floating mb-3">
          {% include "partials/forms/measure-units.html" %}
          {{ error('measure') }}
        </div>
        <div class="form-floating mb-3">
          <input autocomplete="off" class="form-control" id="quantity_alert" name="quantity_alert"
            placeholder="Quantity alert" type="number" step="0.1" min="0" value="{{ form.get('quantity_alert', '') }}">
            <label for="quantity_alert">Quantity alert</label>
          {{ error('quantity_alert') }}
        </div>
        <div class="form-floating mb-3">
          <input autocomplete="off" class="form-control" id="price" name="price" placeholder="Price"
            type="number" step="0.01" min="0" value="{{ form.get('price', '') }}">
            <label for="price">Price</label>
          {{ error('price') }}
        </div>
        <p>Does this product have a recipe?</p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="has_recipe" id="has_recipe0" value="0"
            {% if form.get('has_recipe', 0) == 0 %}
              checked
            {% endif %}
          >
          <label class="form-check-label" for="has_recipe0">No</label>
        </div>
        <div class="form-check form-check-inline mb-3">
          <input class="form-check-input" type="radio" name="has_recipe" id="has_recipe1" value="1"
            {% if form.get('has_recipe', 0) == 1 %}
              checked
            {% endif %}
          >
          <label class="form-check-label" for="has_recipe1">Yes</label>
        </div>
        {{ error('has_recipe') }}
        <div>
          <button class="btn btn-success" type="submit">{{ action }}</button>
          <a href="{{ url_for('products.overview') }}" role="button" class="btn btn-danger">Cancel</a>
        </div>
      </div>
    </div>
  </form>
{% endblock main %}
