{% extends "layout.html" %}
{% from "partials/macros.html" import error %}

{% block title %}
  Inflow - Supply: Item
{% endblock title %}

{% block main %}
  <h4 class="mb-3">Supply Item</h4>
  <form action="{{ request.path }}" method="POST">
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="mb-3">
          <h3>{{ form.item_name|title }}</h3>
        </div>
        <div class="form-floating mb-3">
          <input autofocus type="number" name="quantity_alert" class="form-control" id="quantity_alert" value="{{ form.quantity_alert }}" min="0" required>
          <label for="quantity_alert">Quantity alert</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" name="amount" class="form-control" id="amount" value="{{ form.amount }}" min="{{ form.amount }}" required>
          <label for="amount">Amount</label>
        </div>
        <div>
          <button class="btn btn-success" type="submit">Save</button>
          <a href="{{ url_for('inflow.overview') }}" role="button" class="btn btn-danger">Cancel</a>
        </div>
      </div>
    </div>
  </form>
{% endblock main %}
