{% macro error(tag_id, font_size='small', color='red') %}
  {% if tag_id %}
    <div id="{{ tag_id }}_error">
      {% with errors=get_flashed_messages(with_categories=true) %}
        {% if errors %}
          {% for id, error in errors %}
            {% if tag_id == id %}
              <p style="color: {{ color }}; font-size: {{ font_size }};">
                {{ error }}
              </p>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  {% else %}
    <p class="text-danger mt-3">
      Provide input's <b>id</b>.
    </p>
  {% endif %}
{% endmacro %}

{% macro toast(tag_id) %}
  {% if tag_id %}
    {% with messages=get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for id, message_and_context in messages %}
          {% if tag_id == id %}
            {% if not message_and_context.split('#')|length > 1 %}
              <p class="text-danger" style="font-size: small">
                <b>Error:</b> Message format for tag with id="{{ tag_id }}" should be flash("message<b>#</b>context", "{{ tag_id }}")
              </p>
            {% else %}
              {% with message=message_and_context.split('#')[0], context=message_and_context.split('#')[1] %}
                <div class="toast align-items-center bg-{{ context }} border-0" style="--bs-bg-opacity: .5;" role="alert" aria-live="assertive" aria-atomic="true">
                  <div class="d-flex">
                    <div class="toast-body">
                      {{ message }}
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                </div>
              {% endwith %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
  {% else %}
    <p class="text-danger" style="font-size: small">
      <b>Error:</b> Provide tag <u>id</u>.
    </p>
  {% endif %}
{% endmacro %}