{% extends "layout.html" %}

{% block title %}
Products
{% endblock title %}

{% block main %}
  <div class="'mb-3">
    <a href="{{ url_for('products.create_product') }}" role="button" class="btn btn-success">
      <i class="bi bi-file-earmark-plus"></i> <span>Add product</span>
    </a>
  </div>
  <table class="table table-hover align-middle">
    <thead>
      <tr>
        <th>Product</th>
        <th>Measure</th>
        <th>Has Recipe?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% if products %}
        {% for product in products %}
          <tr>
            <td>{{ product['product_name']|title }}</td>
            <td>{{ product['measure'] }}</td>
            <td>
              {% if product['has_recipe'] == 0 %}
                No
              {% else %}
                Yes
              {% endif %}
            </td>
            <td>
              <div class="d-flex justify-content-center">
                <a href="{{ url_for('products.update_product', id=product['id']) }}" role="button"
                  class="btn btn-primary me-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                  data-bs-target="#delete-{{product['id'] }}">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </td>
          </tr>
          <!-- Modals -->
          <div class="modal fade" id="delete-{{ product['id'] }}" tabindex="-1" aria-labelledby="deleteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                  <h5 class="modal-title fs-5" id="exampleModalLabel">
                    <strong>
                      <i class="bi bi-exclamation-triangle"></i> Irreversible action!
                    </strong>
                  </h5>
                </div>
                <div class="modal-body fs-6">
                  <p>
                    Are you sure you want to delete this product?
                  </p>
                  <p>
                    <strong>{{ product['product_name']|title }}</strong>
                  </p>
                  <small class="fw-bold text-danger">
                    This action cannot be undone.
                  </small>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                  <form action="{{ url_for('products.delete_product', id=product['id']) }}" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-danger">Yes</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="8">Add some products</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
{% endblock main %}