{% extends "layout.html" %}
{% from "partials/macros.html" import error %}

{% set endpoint = request.endpoint %}
{% if endpoint == 'products.create_product' %}
  {% set action = 'Create' %}
{% else %}
  {% set action = 'Update' %}
{% endif %}

{% block title %}
  Product - {{ action }}
{% endblock title %}

{% block main %}
  <link href="{{ url_for('products.static', filename='css/product-detail.css') }}" rel="stylesheet">
  <script type="module" src="{{ url_for('products.static', filename='js/product-detail.js')}}"></script>

  <h4 class="mb-3">{{ action }} Products</h4>
  
  <form action="{{ request.path }}" method="POST">
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="form-floating mb-3">
          <input autocomplete="off" autofocus class="form-control" id="product_name" name="product_name"
            placeholder="Product name" type="text" value="{{ form.get('product_name', '') }}">
          <label for="product_name">Product name</label>
          {{ error('product_name') }}
        </div>
        <div class="form-floating mb-3">
          {% include "partials/forms/measure-units.html" %}
        </div>
        <p>Does this product have a recipe?</p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="has_recipe" id="has_recipe0" value="0"
            {% if form.get('has_recipe', 0) == 0 %}
              checked
            {% endif %}
          >
          <label class="form-check-label" for="has_recipe0">No</label>
        </div>
        <div class="form-check form-check-inline mb-3">
          <input class="form-check-input" type="radio" name="has_recipe" id="has_recipe1" value="1"
            {% if form.get('has_recipe', 0) == 1 %}
              checked
            {% endif %}
          >
          <label class="form-check-label" for="has_recipe1">Yes</label>
        </div>
        {{ error('has_recipe') }}
        <div>
          <button class="btn btn-success" type="submit">{{ action }}</button>
          <a href="{{ url_for('products.overview') }}" role="button" class="btn btn-danger">Cancel</a>
        </div>
      </div>
    </div>
  </form>
  <!-- has_recipe change warn modal -->
  <div class="modal fade" id="has-recipe-modal" tabindex="-1" aria-labelledby="#warn-modal-label"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title fs-5" id="warn-modal-label">
            <strong>
              <i class="bi bi-exclamation-triangle"></i> Irreversible action!
            </strong>
          </h5>
        </div>
        <div class="modal-body fs-6">
          <p>
            <strong>Do you want to remove this product recipe?</strong>
          </p>
          <p>
            This change will delete the whole recipe.
          </p>
          <small class="fw-bold text-danger">
            This action cannot be undone.
          </small>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
          <button type="submit" class="btn btn-danger">Yes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
